/* 1024px */
@media (max-width: 1024px) {
    .section-div {
        margin: auto;
    }
    .form-div {
        margin: 0 auto;
    }
    .textarea-div {
        margin: 0 auto;
    }
    .section-div {
        flex-direction: column;
        align-items: center;
    }
    .title-text-div {
        margin-left: 0;
    }
}
/* 840px */
@media (max-width: 840px) {
    .nav-li {
        display: none;
    }

}