@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --whitecolor: white;
  --bluecolor: #5863f8;
}
.header {
  background-image: url(../images/Palms.jpg);
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.header-div {
  max-width: 1110px;
  width: 100%;
  height: 205px;
}
.top-div {
  max-width: 1110px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.bottom-div {
  width: 185px;
  height: 85px;
}
.color-words {
  color: white;
}
.nav-li {
  font-family: "Poppins", sans-serif;
  display: flex;
}
.fas {
  display: none;
  width: 30px;
  height: 30px;
  color: var(--whitecolor);
}
.zetta {
  font-family: "Poppins", sans-serif;
  color: var(--whitecolor);
}
.first-li {
  margin-right: 49px;
}
.lastchild {
  margin-right: 0;
}
.wing {
  margin-top: 0;
}
/* bottom-div */
.bottom-div {
  margin-top: 96px;
}
.header-title {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  color: var(--whitecolor);
}
.stick-div {
  height: 19px;
  width: 1px;
  background-color: white;
  display: inline-block;
  margin: 18px 16.5px 0 16.5px;
}
.home {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: var(--whitecolor);
}
.contact {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: var(--whitecolor);
}
/* section */
.map-div {
  max-width: 1088px;
  width: 100%;
  height: 286px;
  margin: 0 auto;
}
iframe {
  height: 100%;
  width: 100%;
}
.section-div {
  max-width: 378px;
  width: 100%;

  margin-top: 56px;
  margin-left: 139px;
  margin-right: 139px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-title {
  font-size: 14px;
  color: var(--bluecolor);
  font-family: "Poppins", sans-serif;
}
.section-text {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}
/* forms */
.form-div {
  max-width: 1088px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.textarea-div {
  max-width: 720px;
  width: 100%;
  height: 288px;
  margin-right: 15px;
}
.textarea-element {
  max-width: 720px;
  width: 100%;
  height: 288px;
  background-color: #f8f8f8;
  border-style: groove;
  border-color: #e8e8e8;
  color: #cecece;
  padding-top: 20px;
  padding-left: 20px;
}
.textarea-element:focus {
  outline: none;
}
.input-div {
  max-width: 352px;
  width: 100%;
  height: 288px;
  display: flex;
  flex-direction: column;
}
.first-div {
  max-width: 352px;
  width: 100%;
  height: 60px;
}
.second-div {
  max-width: 352px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
}
.third-div {
  max-width: 352px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
}
.first-input {
  max-width: 352px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-style: groove;
  border-color: #e8e8e8;
  outline: none;
  padding-top: 5px;
  padding-left: 20px;
}
.second-input {
  max-width: 352px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-style: groove;
  border-color: #e8e8e8;
  outline: none;
  padding-top: 5px;
  padding-left: 20px;
}
.third-input {
  max-width: 352px;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-style: groove;
  border-color: #e8e8e8;
  outline: none;
  padding-top: 5px;
  padding-left: 20px;
}
.button-div {
  max-width: 352px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
  background-color: var(--bluecolor);
  font-size: 14px;
  color: var(--whitecolor);
  margin-right: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.send {
  width: 15.8px;
  height: 16px;
  margin-left: 10px;
}
.seciton-div {
  max-width: 1025px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.div-one {
  max-width: 300px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-two {
  max-width: 300px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-three {
  max-width: 300px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue-div {
  width: 59px;
  height: 58px;
  background-color: var(--bluecolor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail {
  font-size: 18px;
  margin-top: 15px;
}
.mail-1 {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 10px;
}
.mail-2 {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 8px;
}
/* section second part */
.title-text-div {
  max-width: 565px;
  width: 100%;
  margin-top: 90px;
  margin-left: 139px;
}
.title-photo {
  font-size: 14px;
  color: var(--bluecolor);
  font-family: "Poppins", sans-serif;
  margin-top: 18px;
}
.text-bottom {
  font-size: 42px;
  font-family: "Poppins", sans-serif;
  margin-top: 18px;
}
.photos-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
/* footer */
footer {
  background-color: black;
}
.black-div {
  max-width: 1366px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.inline-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.small-div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inline-div1 {
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inline-title {
  font-size: 24px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.inline-text {
  font-size: 14px;
  color: #b1b1b1;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inline-div2 {
  max-width: 103px;
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: column;
}
.inline-div3 {
  max-width: 78px;
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: column;
}
.inline-div4 {
  max-width: 198px;
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: column;
}
.links {
  font-size: 18px;
  color: white;
}
.ul-li {
  font-size: 14px;
  color: var(--bluecolor);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
li {
  margin-top: 10px;
  margin-right: 0;
}
.child-first {
  margin-top: 0;
}
.mail-adress {
  color: white;
}
.tel {
  font-size: 14px;
  color: var(--whitecolor);
}
.gmail {
  width: 16px;
  height: 12px;
}
.phones {
  width: 16px;
  height: 12px;
}
.maps {
  width: 16px;
  height: 12px;
}
.location {
  font-size: 14px;
  color: var(--whitecolor);
}
.mobile-phone,
.mapping {
  margin-top: 20px;
}
/* small-div footer */
.marian {
  font-size: 14px;
  color: var(--bluecolor);
  font-family: "Poppins", sans-serif;
}
.copyright {
  font-size: 14px;
  color: #b1b1b1;
}
.portfolioname {
  font-size: 14px;
  color: var(--bluecolor);
}
